/* Đặt lại toàn bộ margin, padding và thiết lập box-sizing */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Header giống trang chủ */
.header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-info {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}



.social-icons a:hover {
    transform: scale(1.5);
}

.social-icons img {
    width: 20px;
    height: 20px;
}

/* Container chính */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #f7c6c6;
    border-radius: 10px;
    padding: 20px;
}

/* Định dạng cho phần hình ảnh */
.image-section {
    position: relative;
}

.image-section img {
    width: 100%;
    border-radius: 8px;
}

.sold-out {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Định dạng cho phần nội dung */
.content-section {
    display: flex;
    flex-direction: column;
}


.price {
    color: #e74c3c;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 10px;
}

.NutDatMon {
    background-color: #ff6347;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 45px;
}

.NutDatMon:hover {
    background-color: #e5533b;
}

/* Định dạng cho phần chi tiết */

.rating {
    margin-top: 20px;
}

.rating-score {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #2c3e50;
}

.rating-score .stars {
    color: #ffd700;
    margin-left: 10px;
}

.rating-details {
    margin-top: 10px;
}

.bar {
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 14px;
}

.bar-fill {
    display: block;
    height: 10px;
    background-color: #ff6347;
}

.back-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    max-width: 150px;
}

.back-button:hover {
    background-color: #b9d6e9;
}
